/**
* Animation permettant de plier ou déplier le contenu d'un dropdown-pan
*
* @param $state TRUE => plier, FALSE => déplier
* @param $effect TRUE => on joue les effets d'animation en utilisant les délais et les durées, FALSE => on plie ou on déplie en mode "on / off"
*/
@mixin dropdown-pan--mixin($state, $effect) {

    & > div.dropdown-pan-content > div.dropdown-pan-content-inner {

        // La padding provoque un problème d'espace superflux en dessous du composant lorsqu'il est replié.
        padding-top: 0 !important;
        padding-bottom: 0 !important;

        & > * {

            padding-top: 0 !important;
            padding-bottom: 0 !important;

        }

    }

    @if $state == true { // On replie le panneau

        // on est à la racine du composant (class : dropdown-pan)
        @if $effect == true {

            animation-name: dropdown-pan---fold;
            animation-delay: 300ms;
            animation-fill-mode: forwards;

        }
        @else {

            background-color: #fff;

        }

        & > div.dropdown-pan-header > div.dropdown-pan-control {

            @if $effect == true {

                animation-name: dropdown-pan-control---fold;
                animation-duration: 350ms;
                animation-fill-mode: forwards;

            }
            @else {

                transform: rotate(180deg);

            }

        }

        & > div.dropdown-pan-content {

            @if $effect == true {

                animation-name: dropdown-pan-content---fold;
                animation-duration: 650ms;
                animation-fill-mode: forwards;

            }
            @else {

                transform: scaleY(0);

            }

            & > div.dropdown-pan-content-inner {

                @if $effect == true {

                    animation-name: dropdown-pan-content-inner---fold;
                    animation-duration: 600ms;
                    animation-fill-mode: forwards;

                }
                @else {

                    margin-top: -200% !important;
                    opacity: 0;

                }

            }

        }

    }
    @else { // On déplie le panneau

        // on est à la racine du composant (class : dropdown-pan)
        @if $effect == true {

            animation-name: dropdown-pan---unfold;
            animation-delay: 300ms;
            animation-fill-mode: forwards;

        }
        @else {

            background-color: rgb(246, 246, 246);

        }

        & > div.dropdown-pan-header > div.dropdown-pan-control {

            @if $effect == true {

                animation-name: dropdown-pan-control---unfold;
                animation-duration: 350ms;
                animation-fill-mode: forwards;

            }
            @else {

                transform: rotate(0);

            }

        }

        & > div.dropdown-pan-content {

            @if $effect == true {

                animation-name: dropdown-pan-content---unfold;
                animation-duration: 650ms;
                animation-fill-mode: forwards;

            }
            @else {

                transform: scaleY(1);

            }

            & > div.dropdown-pan-content-inner {

                @if $effect == true {

                    animation-name: dropdown-pan-content-inner---unfold;
                    animation-duration: 600ms;
                    animation-fill-mode: forwards;

                }
                @else {

                    opacity: 1;

                }

            }

        }

    }

}