$color-red: #FF6060;
$main-font: 'Montserrat', Arial, sans-serif;

/** Responsive design **/
$desktop-child-width: 1240px;

// ATTENTION !! il faut également pensser à changer ces valeurs dans le fichier "src/pages/LodgingPage.jsx"
$pad-break-point: 'screen and (min-width: 441px) and (max-width: 780px)';
$pad-child-width: 760px;

$phone-break-point: 'screen and (max-width: 440px)';
$phone-child-width: 335px;